body {
    font-family: 'Oswald', sans-serif;
}

.navbar {
    background-color:  var(--purple-2, #C59DD8);
}

button:hover{
    color: white;
    background-color:  var(--purple-2, #886499);
}
.menu {
    background-color:  var(--purple-2, #C59DD8);
}
  
.menuElement {
    box-shadow: 0px 2.6188px 2.6188px 0px rgba(0, 0, 0, 0.25);
}